.klarna-grayed-tab {
    opacity: 0.5;
}

.klarna-grayed-content {
    pointer-events: none;
    position: relative;
}

.klarna-grayed-content::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
}
