@media only screen and (max-width: 22.5rem) {
  .card-body {
    padding: 0.25rem;
  }
}

.hide {
  display: none;
}

.klarna-grayed-tab {
  opacity: 0.5;
}

.klarna-grayed-content {
  pointer-events: none;
  position: relative;
}

.klarna-grayed-content::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 20%);
}

.subscription-error {
  color: #c23934;
}
